.msg-container {
  width: 100vw;
  margin: 0 auto;
  padding: 0px 5vw;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0em 20em;
}

.msg-input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

.msg-button {
  padding: 0.5rem 1rem;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.msg-button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}


.msg-loading {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg-error {
  color: red;
  margin-top: 0.5rem;
  text-align: center;
}

.msg-response {
  margin-top: 2rem;
}

.msg-session-id {
  /* font-size: rem; */
  color: #6b7280;
  text-align: center;
}

.msg-message {
  margin-bottom: 1rem;
}

.msg-display-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

}

.msg-display-row-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 49%;
}

.msg-image {
  /* width: 400px; */
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  object-fit: contain;
}
